src/main/resources/META-INF/spring-telqos.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://dwarfeng.com/schema/spring-telqos"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            vc:minVersion="1.1"
            xmlns:tool="http://www.springframework.org/schema/tool"
            targetNamespace="http://dwarfeng.com/schema/spring-telqos"
            elementFormDefault="qualified">

    <xsd:import namespace="http://www.springframework.org/schema/tool"
                schemaLocation="https://www.springframework.org/schema/tool/spring-tool.xsd"/>

    <xsd:annotation>
        <xsd:documentation>
            <![CDATA[ Namespace support for the spring-telqos services provided by dwarfeng. ]]></xsd:documentation>
    </xsd:annotation>

    <!-- 根元素 -->
    <xsd:element name="service">
        <xsd:annotation>
            <xsd:documentation source="java:com.dwarfeng.springtelqos.stack.bean.TelqosConfig">
                <![CDATA[ Container for <telqos:service> and other elements, typically the root element in the telqos document. ]]>
            </xsd:documentation>
            <xsd:appinfo>
                <tool:annotation>
                    <tool:exports type="com.dwarfeng.springtelqos.stack.bean.TelqosConfig"/>
                    <tool:exports type="com.dwarfeng.springtelqos.stack.handler.CliHandler"/>
                    <tool:exports type="com.dwarfeng.springtelqos.stack.serialize.Serializer"/>
                    <tool:exports type="com.dwarfeng.springtelqos.stack.serialize.Deserializer"/>
                    <tool:exports type="com.dwarfeng.springtelqos.stack.service.TelqosService"/>
                </tool:annotation>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="config" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ Export telqos config ]]></xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="id" type="xsd:token" default="telqosConfig">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <![CDATA[ Defines the telqosConfig's bean name. ]]></xsd:documentation>
                                <xsd:appinfo>
                                    <tool:annotation>
                                        <tool:expected-type type="java.lang.String"/>
                                    </tool:annotation>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="port" type="xsd:positiveInteger" default="23">
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <tool:annotation>
                                        <tool:expected-type type="java.lang.Integer"/>
                                    </tool:annotation>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="whitelist-regex" type="xsd:string" default="">
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <tool:annotation>
                                        <tool:expected-type type="java.lang.String"/>
                                    </tool:annotation>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="blacklist-regex" type="xsd:string" default="">
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <tool:annotation>
                                        <tool:expected-type type="java.lang.String"/>
                                    </tool:annotation>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="charset" type="xsd:string" default="UTF-8">
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <tool:annotation>
                                        <tool:expected-type type="java.lang.String"/>
                                    </tool:annotation>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="password" type="xsd:string" default="">
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <tool:annotation>
                                        <tool:expected-type type="java.lang.String"/>
                                    </tool:annotation>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="so-backlog" type="xsd:positiveInteger" default="1024">
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <tool:annotation>
                                        <tool:expected-type type="java.lang.Integer"/>
                                    </tool:annotation>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="cli-handler" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>
                            <![CDATA[ Defines the telnet command line handler. ]]>
                            <tool:annotation>
                                <tool:exports type="com.dwarfeng.springtelqos.stack.handler.CliHandler"/>
                            </tool:annotation>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="id" type="xsd:token" default="telqosCliHandler">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <![CDATA[ Defines the cliHandler's bean name. ]]></xsd:documentation>
                                <xsd:appinfo>
                                    <tool:annotation>
                                        <tool:expected-type type="java.lang.String"/>
                                    </tool:annotation>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="class" type="xsd:string"
                                       default="com.dwarfeng.springtelqos.impl.handler.ApplicationContextCliHandler">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <![CDATA[ Defines the cliHandler's bean class.
The class will initialize with no-parameter constructor method.]]>
                                </xsd:documentation>
                                <xsd:appinfo>
                                    <tool:annotation>
                                        <tool:expected-type type="com.dwarfeng.springtelqos.stack.handler.CliHandler"/>
                                    </tool:annotation>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ref" type="xsd:token" default="">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <![CDATA[ Defines the cliHandler's bean reference. ]]>
                                </xsd:documentation>
                                <xsd:appinfo>
                                    <tool:annotation kind="ref">
                                        <tool:expected-type type="com.dwarfeng.springtelqos.stack.handler.CliHandler"/>
                                    </tool:annotation>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="serializer" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>
                            <![CDATA[ Defines the telnet serializer. ]]>
                            <tool:annotation>
                                <tool:exports type="com.dwarfeng.springtelqos.stack.serialize.Serializer"/>
                            </tool:annotation>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="id" type="xsd:token" default="telqosSerializer">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <![CDATA[ Defines the serializer's bean name. ]]></xsd:documentation>
                                <xsd:appinfo>
                                    <tool:annotation>
                                        <tool:expected-type type="java.lang.String"/>
                                    </tool:annotation>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ref" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation source="com.dwarfeng.springtelqos.stack.serialize.Serializer">
                                    <![CDATA[ Defines the serializer's bean reference. ]]>
                                </xsd:documentation>
                                <xsd:appinfo>
                                    <tool:annotation kind="ref">
                                        <tool:expected-type
                                                type="com.dwarfeng.springtelqos.stack.serialize.Serializer"/>
                                    </tool:annotation>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="class" type="xsd:string"
                                       default="com.dwarfeng.springtelqos.sdk.serialize.FastJsonSerializer">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <![CDATA[ Defines the serializer's bean class.
The class will initialize with no-parameter constructor method.]]>
                                </xsd:documentation>
                                <xsd:appinfo>
                                    <tool:annotation>
                                        <tool:expected-type
                                                type="com.dwarfeng.springtelqos.stack.serialize.Serializer"/>
                                    </tool:annotation>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="deserializer" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>
                            <![CDATA[ Defines the telnet deserializer. ]]>
                            <tool:annotation>
                                <tool:exports
                                        type="com.dwarfeng.springtelqos.stack.serialize.Deserializer"/>
                            </tool:annotation>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="id" type="xsd:token" default="telqosDeserializer">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <![CDATA[ Defines the deserializer's bean name. ]]></xsd:documentation>
                                <xsd:appinfo>
                                    <tool:annotation>
                                        <tool:expected-type type="java.lang.String"/>
                                    </tool:annotation>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ref" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <![CDATA[ Defines the deserializer's bean reference. ]]>
                                </xsd:documentation>
                                <xsd:appinfo>
                                    <tool:annotation>
                                        <tool:expected-type type="java.lang.String"/>
                                    </tool:annotation>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="class" type="xsd:string"
                                       default="com.dwarfeng.springtelqos.sdk.serialize.FastJsonDeserializer">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <![CDATA[ Defines the deserializer's bean class.
The class will initialize with no-parameter constructor method.]]>
                                </xsd:documentation>
                                <xsd:appinfo>
                                    <tool:annotation>
                                        <tool:expected-type type="java.lang.String"/>
                                    </tool:annotation>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="id" type="xsd:token" default="telqosService">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[ Defines the telqosService's bean name. ]]></xsd:documentation>
                    <xsd:appinfo>
                        <tool:annotation>
                            <tool:expected-type type="java.lang.String"/>
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
